@model IEnumerable<Expenses>

<h2>Expenses</h2>

<div style="display: block">
    <a href="/Expenses/InsertExpenses/">Create a New Expenses</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Flight</th>
        <th>Transportation</th>
        <th>Food</th>
        <th>Hotel</th>
        <th>Total Expenses</th>
    </tr>

    @foreach (var expense in Model)
    {
        <tr>
            <td><a href=/Expenses/ViewExpenses/@expense.TotalExpenses>@expense.TotalExpenses</a></td>
            <td>@expense.Flight</td>
            <td>@expense.Transportation</td>
            <td>@expense.Food</td>
            <td>@expense.Hotel</td>
            <td>@expense.TotalExpenses</td>
        </tr>

    }
</table>


