@model Expenses

<h3>@Model.ExpensesID Information</h3>

<table class="table">
    <tr>
        <th>ExpensesID</th>
        <th>Flight</th>
        <th>Transportation</th>
        <th>Food</th>
        <th>Hotel</th>
        
    </tr>
    <tr>

        <td>@Model.Flight</td>
        <td>@Model.Transportation</td>
        <td>@Model.Food</td>
        <td>@Model.Hotel</td>
        
    </tr>

</table>



