@model CircuitTournaments

<h3>@Model.ID Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>TournamentName</th>
        <th>PrizeMoney</th>
        <th>NetWinnings</th>
        
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.TournamentName</td>
        <td>@Model.PrizeMoney</td>
        <td>@Model.NetWinnings</td>
    </tr>

</table>





